* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia;
}

body {}

ul {
  margin: 20px;
  list-style-type: '-';
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.container, .container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container, .container-fluid {
    padding: 0 !important;
  }
  .container {
    max-width: calc(767px - 2rem);
  }
}

@media (min-width: 768px) {
  .container {
    max-width: calc(768px - 2rem);
  }
}
@media (min-width: 992px) {
  .container {
    max-width: calc(992px - 2rem);
  }
}